/*Posts (ou imagens com texto bacana aparecendo por cima :]*/

nav img {
    height: 200px;
    width: 360px;
}

.posts-principais {
    display: inline-block;
    position: relative;
}

.posts-principais img {
    margin: auto 20px;
}

.posts-principais a {
    font-size: 24px;
    transition: all 0.2s linear;
    position: absolute;
    top: -10px;
    left: 22.5px;
    box-sizing: border-box;
    padding: 10px 15px;
    height: 201px;
    width: 360px;
    opacity: 0;
    text-align: center;
}

.posts-principais a:hover {
    transition: all 0.3s linear;
    opacity: 1;
    top: 2px;
    background-color: #191645d0;
}

/*Gente Bonita (personagens)*/

.gif-personagens {
    width: auto;
    height: 40px;
    cursor: pointer;
}

/*Responsividade*/

@media (max-width: 1024px) {
    .posts-principais a {
        position: absolute;
        top: 0.15rem;
        left: 1.39rem;
        opacity: 1;
        text-align: center;
        background-color: #191645d0;
        margin: 0;
    }
}

@media (max-width: 600px) {

    .posts-principais img{
        width: 70vw;
        height: 40vw;
    }

    .posts-principais a {
        width: 70vw;
        height: 40vw;
        font-size: 4vw;
    }
}

@media (min-width: 601px) and (max-width: 800px) {

    .posts-principais img{
        width: 70vw;
        height: 40vw;
        max-width: 390px;
        max-height: 224px;
    }

    .posts-principais a {
        width: 70vw;
        height: 40vw;
        max-width: 390px;
        max-height: 224px;
        opacity: 1;
        font-size: 3.5vw;
    }
}

@media (min-width: 801px) and (max-width: 1024px){
    .posts-principais img{
        width: 49vw;
        height: 28vw;
    }

    .posts-principais a {
        top: 0.15rem;
        left: 1.4rem;
        width: 49vw;
        height: 28vw;
        font-size: 3vw;
    }
}