/*h2, h3*/

h2 {
    margin: 4.375rem 0 2.5rem 2.5rem;
    text-align: left;
}

h3 {
    margin-top: 40px;
}

img {
    max-height: 40vh;
}

strong {
    color: #191645;
}

.num-destacado {
    color: #43C6AC;
    text-decoration:underline;
}

/*Capas dos jogos*/

.capa_jogos span{
    display: inline-block;
    margin: 20px 40px;
}

.capa_jogos img{
    height: auto;
    max-height: 40vh;
    width: 16vw;
    border-color: black;
}

.capa_jogos p{
    margin: 10px;
    text-align: center;
}

caption {
    font-size: 1.25rem;
    font-family: "Inter";
}

/*Tabela*/

table{
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
}

thead, tbody, tfoot {
    border-style: solid;
    border-width: 1px 1px;
    border-color: black;
    font-family: "Inter";
}

thead, tfoot{
    background-color: #191645;
    color: white;
}

td, th {
    padding: 0.19rem 0.625rem;
}

@media (max-width: 1000px) {
    .capa_jogos {
        display: block;
    }

    img:not(.capa_jogos img) {
        max-width: 70vw;
    }

    caption {
        font-size: 3vw;
    }

    h2{
        margin-left: 1rem;
    }

    table{
        margin: 1.25rem 1rem;
    }

    footer {
        margin: 0;
    }

    td, th, tfoot a{
        font-size: 2vw;
        padding: 1vw;
    }
}

@media (max-width: 600px) {

    .capa_jogos img {
        width: 30vw;
    }

    td, th, tfoot a{
        font-size: 2.5vw;
        padding: 1vw;
    }
}

@media (min-width: 601px) and (max-width: 800px) {

    .capa_jogos img {
        width: 20vw;
        max-height: 50vw;
    }
}

@media (min-width: 801px) and (max-width: 1024px){

    .capa_jogos{
        display: flex;
        flex-direction: column;
    }

    .capa_jogos img {
        width: 20vw;
        max-height: 27vw;
    }

    thead, tbody, tfoot {
        border-style: solid;
    }
}